In [2]:
import pandas as pd
import numpy as np
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [14]:
df_load = pd.read_csv('data.jabarprov.go.id/disparbud-od_15367_jml_pengunjung_ke_objek_wisata__jenis_wisatawan_data.csv')
df_load.rename({'nama_kabupaten_kota': 'KabupatenKota', 'jenis_wisatawan': 'Jenis','jumlah_pengunjung': 'Total','tahun': 'Tahun'}, axis=1,inplace=True)
df = df_load[['KabupatenKota','Jenis','Total','Tahun']]
df.head(350)

          KabupatenKota        Jenis    Total  Tahun
0       KABUPATEN BOGOR  MANCANEGARA    54927   2014
1       KABUPATEN BOGOR    NUSANTARA  4075198   2014
2    KABUPATEN SUKABUMI  MANCANEGARA    49985   2014
3    KABUPATEN SUKABUMI    NUSANTARA  2031979   2014
4     KABUPATEN CIANJUR  MANCANEGARA     7824   2014
..                  ...          ...      ...    ...
344         KOTA CIMAHI    NUSANTARA    48148   2020
345    KOTA TASIKMALAYA  MANCANEGARA       15   2020
346    KOTA TASIKMALAYA    NUSANTARA    32860   2020
347         KOTA BANJAR  MANCANEGARA        0   2020
348         KOTA BANJAR    NUSANTARA     9832   2020

[349 rows x 4 columns]

In [18]:
# count rows
df.shape

(349, 5)

In [20]:
df.groupby(['KabupatenKota','Jenis','Tahun']).sum()

                                      Total  Summaries
KabupatenKota     Jenis       Tahun
KABUPATEN BANDUNG MANCANEGARA 2014    62101  294429971
                              2015    62101  294429971
                              2016   867000  294429971
                              2017   578321  294429971
                              2019     4506  294429971
...                                     ...        ...
KOTA TASIKMALAYA  NUSANTARA   2016   302908  294429971
                              2017   359174  294429971
                              2018    82329  294429971
                              2019   695656  294429971
                              2020    32860  294429971

[349 rows x 2 columns]

In [21]:
df_years = df.loc[:,'Tahun']
df_sum = df.loc[:,'Total']

In [22]:
print(df_years)
print(df_sum)

0      2014
1      2014
2      2014
3      2014
4      2014
       ...
344    2020
345    2020
346    2020
347    2020
348    2020
Name: Tahun, Length: 349, dtype: int64
0        54927
1      4075198
2        49985
3      2031979
4         7824
        ...
344      48148
345         15
346      32860
347          0
348       9832
Name: Total, Length: 349, dtype: int64

In [26]:
def visitPredicts(df_years,df_sum, x):
    #Create and train an SVR model using a linear kernel
    lin_svr = SVR(kernel='linear', C=1e3)
    poly_svr = SVR(kernel='poly', C=1e3, degree=7)
    rbf_svr = SVR(kernel='rbf', C=1e3, gamma=0.00193)
    
    lin_svr.fit(df_years, df_sum)
    poly_svr.fit(df_years, df_sum)#Create and train an SVR model using a RBF kernel
    rbf_svr.fit(df_years, df_sum)
    
    LnReg = LinearRegression()
    LnReg.fit(df_years,df_sum)
    
    #Plot the models on a graph to see which has the best fit
    plt.figure(figsize=(16,8))
    plt.scatter(df_years, df_sum, color = 'black', label='Original Data')
    plt.plot(df_years, rbf_svr.predict(df_years), color = 'green', label='RBF Model')
    plt.plot(df_years, poly_svr.predict(df_years), color = 'orange', label='Polynomial Model')
    plt.plot(df_years, lin_svr.predict(df_years), color = 'purple', label='Linear Model')
    plt.xlabel('Tahun')
    plt.ylabel('Prediksi Terakhir')
    plt.title('Support Vector Regression')
    plt.legend()
    plt.show()
    
    return rbf_svr.predict(x)[0],lin_svr.predict(x)[0],poly_svr.predict(x)[0],LnReg.predict(x)[0]